<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EntitiesPathDirectory" connectionString="metadata=res://*/Entities.PathDirectory.csdl|res://*/Entities.PathDirectory.ssdl|res://*/Entities.PathDirectory.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=unittest;Persist Security Info=True;database=pathdirectory&quot;" providerName="System.Data.EntityClient"/>
    <add name="CodeBase2.Properties.Settings.pathdirectoryConnectionString" connectionString="server=localhost;User Id=root;password=unittest;Persist Security Info=True;database=pathdirectory" providerName="MySql.Data.MySqlClient"/>
    <add name="PathDirectory" connectionString="server=localhost;User Id=root;password=unittest;Persist Security Info=True;database=pathdirectory" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
